.contain_collaborations{
    width: 100%;
    height: auto;
    padding-top: 60px;
    display: flex;
    justify-content: center;

}


.collaborations{
    width: 90%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.collaborations>h2{
    font-size: 2.5rem;
    font-weight: 600;
}



.collaboration_sub-title{
    font-family: var(---Monoton);
    font-size: 1.6rem;
}


.section_collaborations{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
} 

/* CARTAS CANCIONES */
.item{
    width: 400px;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



.card{
    width: 100%;
    height: 250px;
    cursor: pointer;
    background-color: black;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
}

.card::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.326);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 2px;
    opacity: 1;
    transition: all .3s ease-in;
} 

 .card:hover::after{
    display: none;
}


.card img{
    width: 100%;
    height: 100%;
    transition:all .25s ease-in;
}

.card:hover> img{
    transform: scale(1.06);
}

.info_item{
    display: none;
}

.info_item.active{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.info_item>span{
    display: flex;
    align-items: center;
}

.info_item>span>i{
    color: rgb(125, 108, 9);
}

.info_item>h3{
    font-weight: 500;
}

.info_item>p{
    font-family: var(---Monoton);
    font-size: 0.98rem;
}

/* CARTAS MODELAJE  */

@media screen and (max-width:768px) {

    .collaborations{
        width: 100%;
    }

}

@media screen and (max-width:435px){
    .info_card{
        width: 300px;
    }
   
}
