.portada{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.713),rgba(0, 0, 0, 0.713)),url('../assends/img/multi_color.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    animation: fondo 12.8s;
    animation-delay: 0s;
}

@keyframes fondo {
    0%{
    background: linear-gradient(black,black),url('../assends/img/multi_color.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    80%{
    background: linear-gradient(black,black),url('../assends/img/multi_color.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    100%{
    background: linear-gradient(rgba(0, 0, 0, 0.714),rgba(0, 0, 0, 0.714)),url('../assends/img/multi_color.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
}

/* Contador de porcentaje */

.section_cargando{
    top: 50%;
    width: 10%;
    left: 50%;
    transform:translate(-50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    animation: remover 20s;
    opacity: 0;
}

.contain_contador i{
    color: rgba(190, 169, 9, 0.835);
    font-size: 1.2rem;
}

.contador{
    padding: 3px;
    text-align: center;
}

@keyframes remover {
    0%{opacity: 0;}
    1%{opacity: 1;}
    15%{opacity: 1;}
    16%{opacity: 0;}
}


/* Galeria de fotos animadas */

.front_page{
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    top: 50%;
    left: 50%;
    transform: translateY(-45%) translateX(-50%);
    z-index: 2;
}

.front_page img{
    height: 250px;
    transform: rotate3d(-285,85,30,90deg);
}

.front_page img:nth-child(1){
   opacity: 0;
   animation: revelar 7s;
   animation-delay: 1s;
}

.front_page img:nth-child(2){
    opacity: 0;
    animation: revelar 7s;
    animation-delay: 3s;
}

.front_page img:nth-child(3){
    opacity: 0;
    animation: revelar 7s;
    animation-delay: 4s;
}

.front_page img:nth-child(4){
    opacity: 0;
    animation: revelar 7s;
    animation-delay: 2s;
}

@keyframes revelar {
    0%{opacity: 0;}
    5%{opacity: 0;}
    10%{opacity: 0;}
    30%{
        opacity: 0;
        transform: rotate3d(-285,85,30,90deg);
    }
    45%{
        opacity: 1;
        transform: none;}
    90%{
        opacity: 1;
        transform: none;
    }
    100%{
        opacity: 0;
        transform: rotate3d(-285,85,30,90deg);
    }
}



/* titulo de portada */

.section_title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.title{
    text-align: center;
}

.title h1{
    font-family: var(---Monoton);
    font-size: 4rem;
    animation: mostrar 15s;
    animation-delay: 0s;
    opacity: 1;
}

.subtitulo{
    text-align: center;
    animation: mostrar 16s;
    animation-delay: 0s;
    opacity: 1;
}




@media screen and (max-width:768px) {

    .front_page{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        transform: translateY(-45%) translateX(-50%);
        align-items: center;
        grid-template-areas: "arte arte fiesta" "microfono mackeup mackeup";
        gap: 1px;
    }

    .front_page img:nth-child(1){
        grid-area: arte;
    }
    
    .front_page img:nth-child(4){
        grid-area: mackeup;
    }

    .front_page img{
        width: 100%;
        
    }

    .title h1{
        font-size: 3.5rem;
        
    }

}

@media screen and (max-width:360px) {

    .front_page{
        width: 90%;
    }

    .title h1{
        font-size: 3rem;
        
    }
    
}



